[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chess = "~=1.11"
pyyaml = "~=6.0"
requests = "~=2.32"
backoff = "~=2.2"
rich = "~=13.9"

[dev-packages]

[requires]
python_version = "3.13"
